@import "tailwindcss";

@theme {
  --color-glass: rgba(255, 255, 255, 0.1);
  --color-glassBorder: rgba(255, 255, 255, 0.2);
  --font-mono: "Fira Code", monospace;
  --font-sans: "Inter", sans-serif;
  --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

:root {
  color-scheme: dark;
  --background: 15 23 42;
  /* slate-900 */
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #0f172a;
  color: white;
}

/* Scrollbar Hide */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}